<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation Details</title>
    <script>
      const existingToken = localStorage.getItem("token")
      if (!existingToken) {
        window.location.href = "/auth/login"
      }
    </script>
  </head>
  <body>
    <h1>Reservation Details</h1>
    <% if (typeof error !== 'undefined') { %>
    <p><%= error %></p>
    <% } else { %>
    <p><strong>ID:</strong> <%= reservation._id %></p>
    <p><strong>Meeting Room ID:</strong> <%= reservation.meetingRoomId %></p>
    <p><strong>Start Time:</strong> <%= reservation.startTime %></p>
    <p><strong>End Time:</strong> <%= reservation.endTime %></p>
    <a href="/reservations/<%= reservation._id %>/edit">Edit</a>
    <form
      action="/reservations/<%= reservation._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete</button>
    </form>
    <% } %>
  </body>
</html>
