<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Meeting Rooms</title>
    <script>
      const existingToken = localStorage.getItem("token")
      if (!existingToken) {
        window.location.href = "/auth/login"
      }
    </script>
  </head>
  <body>
    <h1>All Meeting Rooms</h1>
    <% if (meetingRooms.length > 0) { %>
    <ul>
      <% meetingRooms.forEach(room => { %>
      <li>
        <p><strong>ID:</strong> <%= room._id %></p>
        <p><strong>Name:</strong> <%= room.name %></p>
        <p><strong>Capacity:</strong> <%= room.capacity %></p>
        <p><strong>Equipment:</strong> <%= room.equipment %></p>
        <!-- Add any other details you want to display for each meeting room -->
        <form action="/reservation/room/<%= room._id %>" method="GET">
          <button type="submit">Reserve</button>
        </form>
        <form action="/meeting-room/edit/<%= room._id %>" method="GET">
          <button type="submit">Edit</button>
        </form>
        <form action="/meeting-room/delete/<%= room._id %>" method="POST">
          <input type="hidden" id="token" name="token" value="token" />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No meeting rooms found.</p>
    <% } %>
    <script>
      const token = localStorage.getItem("token")
      document.getElementById("token").value = token
    </script>
  </body>
</html>
